/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.cards-custom {
  flex-basis: calc((100% - 6rem)/ 2);
  margin: 1rem;
  padding: 20px;
  width: 100%;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.cards-custom:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
  font-weight: 700;
}
.card__title_2 {
  grid-row: 4/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 5/5;
  align-self: center;
}

/* CARD BACKGROUNDS */

/* Original */
.card-1 {
  background: radial-gradient(#1a8cff, #33aaff);
}

/* Variation 1 */
.card-2 {
  background: radial-gradient(#1a75ff, #3385ff);
}

/* Variation 2 */
.card-3 {
  background: radial-gradient(#1a53ff, #3355ff);
}

/* Variation 3 */
.card-4 {
  background: radial-gradient(#1a8cff, #33aaff);
}

/* .card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-3 {
  background: radial-gradient(#efbd60, #d58658);
}
.card-4 {
  background: radial-gradient(#ef60d7, #b858d5);
}

.card-5 {
  background: radial-gradient(#efbd60, #d58658);
} */
/*   
  .primary{
    background-color: blue;
  }
  .danger{
    background-color: rgb(255, 0, 0);
  }
  .warning{
    background-color: rgb(255, 102, 0);
  } */
.pagination {
  padding: 0 10px;
  float: right;
}
.blue-thead > .position-relative > table > thead {
  background: #39f;
  color: white;
}

.grey-thead > .position-relative > table > thead {
  background: rgb(80, 106, 131);
  color: white;
}
.c-sidebar {
  background: #2278ff;
}

.left-right-component {
  display: flex;
  justify-content: space-between;
}

.form-date {
  display: block;
  width: fit-content;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid;
  color: #768192;
  background-color: #fff;
  border-color: #d8dbe0;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 15px 0px;
}

.inner-padd-report {
  padding: 1.5rem 3rem;
}

.center-title {
  text-align: center;
  margin: 1rem 0;
}

.bold-text {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.table-bordered-report {
  /* border: 1px solid #dadada; */
}

.table-bordered {
  border: none;
}


/* Float four columns side by side */
.column-card {
  float: left;
  width: 20%;
  padding: 0 10px;
  
}

/* Responsive columns */
@media screen and (max-width: 1500px) {
  .column-card {
    width: 33%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Responsive columns */
@media screen and (max-width: 1200px) {
  .column-card {
    width: 30%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Responsive columns */
@media screen and (max-width: 900px) {
  .column-card {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column-card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/* Style the counter cards */
.column-card .card {
  box-shadow: 1px 1px 7px 3px rgb(0 0 0 / 8%);
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
  border: none;
}
.rute-label-card{
  text-align: initial;
  font-size: 15px;
  font-family: system-ui;
  color: #8c8c8c;
  font-weight: 400;
}




/* Header */
.boardingPass-header {
	padding: .5em 2em;
	border-radius: inherit;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
  background: linear-gradient(
    90deg
    , rgb(206 148 17) 0%, rgb(255 179 66) 35%, rgb(255 214 119) 100%);
        color: #fff;
        padding: 15px 8px;
}

.boardingPass-airline {
	margin: 0;
  font-weight: 700;
}

.row-custome-tiket{
  box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -.5rem;
    align-items: center;
    margin-left: -.5rem;
}

.section-label-child {
  display: block;
  text-transform: uppercase;
  font-size:0.7rem;
  color: #919191;
}

.boardingPass-departur-IATA, .boardingPass-arrival-IATA {
  display: inline-block;
  line-height: 1;
  font-size: 1.3rem;
}

.boardingPass-transport {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardingPass-icon {
  flex-grow: 0.5;
  color: #f03f55;
}

.tiket-hr{
    width: 100%;
    margin: 1.5em 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
}
.col-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-pessanger{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  max-width: 100%;
}

.component-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #00a1ff;
}
.btn-login{
  background-color: #0a98c7;
    background-image: unset;
    border: none;
    transition: .3s;
    color: #fff!important;
    -webkit-text-fill-color: #fff!important;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 8px
}
.modal-login .modal-dialog .modal-content{
  padding: 2rem;
}
.login-text-modal {
  width: 100px;
  position: relative;
  font-weight: 800;
  margin: 0;
  line-height: 26px;
  text-decoration: initial;
  color: #0a92c1;
  font-size: 1.5111rem;
}
.content{
  margin: 0.5rem 0;
}

/* CARDS */

.card-schedule-public{
  padding: 10px;
  margin: 10px 0px;
  border: none;
}

.boardingPass-departur, .boardingPass-arrival{
  text-align: center;
}

.dashed-tiket{
  width: 100%;
  margin: 0.5em 0;
  border: 0;
  border-bottom: 1px dashed #ccc;
}

.light{
  background-color: #525252;
}

.CCzVr {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #2c5ea7;
}

.kZWIkp {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  outline: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.08);
}
.hbFQhX {
-webkit-font-smoothing: antialiased;
color: rgb(245 217 62);
font-size: 18px;
line-height: 22px;
font-weight: bold;
font-family: system-ui;
}

.csca {
font-size: 13px;
color: white;
font-weight: 100;
height: 41px;
overflow: hidden;
}

.slick-for-wisatas .slick-slider .slick-list{
  overflow-x: hidden;
}

.slick-for-wisatas .slick-slider .slick-list .slick-track{
  display: flex;
}
.card-slider{
  position: relative;
}

.slick-for-announce .slick-slider .slick-list{
  overflow-x: hidden;
}
.slick-for-announce .slick-slider .slick-list .slick-track{
  display: flex;
}
.card-announce{
  position: relative;
  background-color: #d8dbe0;
  padding: 5px 10px;
  border-radius: 5px;
}

.padd-card{
  padding: 5px 5px;
}

/* Responsive columns */
@media screen and (max-width: 500px) {
  ul.scroll {
   padding: 5px;
  }
}

.content-annouce{
  min-height: 60px;
}
.title-annouce{
  min-height: 20px;
  font-size: 1.1rem;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding-top-md {
  padding-top: 20px !important;
}

.padding-top-sm {
  padding-top: 10px;
}

.margin-top-xs {
  margin-top: 5px;
}

.loading-container {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  top: 45%;
  left: 40%;
}

.warning-icon {
  height: 100px;
  width: 100px;
}

.danger-code {
  font-size: 28pt;
  color: #e55353;
  font-weight: bold;
  line-height: 0%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.danger-time {
  font-size: 14pt;
  font-weight: bold;
  margin-top: 10px;
}

.no-line-height {
  line-height: 0%;
}

.hr-1 {
  width: 50%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.badge-custom{
  padding: 5px 10px;
  text-transform: uppercase;
}
.pull-right{
  margin: 10px 5px;
  text-align: end;
}


.item-bmkg-weather{
  background-color: white;
  padding: 15px 10px;
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.image-weather{
  max-width: 100px;
}


.slick-for-bmkg .slick-slider .slick-list{
  overflow-x: hidden;
  overflow-y: hidden;
}
.slick-for-bmkg .slick-slider .slick-list .slick-track{
  display: flex;
}

.slick-for-bmkg .slick-slider .slick-list .slick-track div{
    padding: 5px 10px;
}

.c-link-pdf{
  color: cadetblue;
}

.c-link-pdf:hover{
  color: #022427;
}

.button-add {
  background-color: #0a98c7;
  color: white;
}

.button-remove{
  background-color: #c72f2f;
  color: white;
  border-radius: 30px;
}
.circle-count{
  background-color: #eda364;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 20px;
    font-weight: 900;
    font-family: revert;
}

.no-margin-bottom{
  margin-bottom: 5px;
}

.padd-wisata {
  padding: 10px 37px 10px 10px;
}
.slick-for-bmkg{
  padding: 10px 10px 10px 37px;
}

.slick-for-announce {
  padding: 10px 10px 10px 37px;
}

@media (max-width:750px){
  .content{
    margin: unset;
    padding: 1rem;
  }

  .padd-wisata, .padd-bmkg, .slick-for-bmkg, .slick-for-announce{
    padding: 1.2rem;
  }
}

.container-component-laporan{
  text-align: center;
}